Python is a fantastic programming language for beginners.

*   Easy to Learn: Python's syntax is known for being clear and readable, much
    like plain English. This makes it easier to understand how your code works and write new programs without getting bogged down in complex structures.
*   Powerful and Versatile: Don't be fooled by its beginner-friendliness!  
    Python can be used to build a wide range of applications, from simple scripts to complex web services and data analysis tools.
*   Huge Community and Resources: There's a massive community of Python
    programmers around the world, which means there's plenty of help and support available online. You'll find countless tutorials, forums, and communities dedicated to helping you learn.

The good news is Python is **free and easy to install on Windows, Mac, and Linux**. You can find clear installation instructions on the official Python website https://www.python.org/downloads/.

In [1]:
print("Hello Students!")

Hello Students!

#### Syntax

Python's syntax is known for being clear and concise, resembling regular English. It uses keywords like `if`, `for`, and `while` to define code structures and doesn't require punctuation like semicolons at the end of statements (unlike Java).

Java's syntax is more formal and closer to other programming languages like C++. It uses curly braces `{}` to define code blocks and requires semicolons at the end of each statement.

#### Indentation

Uniquely, Python uses indentation to define code blocks, not curly braces. Spaces or tabs at the beginning of a line indicate that the line is part of a block. Consistent indentation is crucial for Python code to run correctly. For example:

In [7]:
x = int(input("Enter the x value:"))

if x > 0:
  print("X is positive")
else:
  print("X is non-positive")

Enter the x value:9
X is positive

Integers: Represented by the `int` class, holding positive or negative whole numbers without decimals.

Floats: Represented by the float class, holding real numbers with a floating-point representation.

Complex Numbers: Represented as (real part) + (imaginary part)j, for example, `2+3j`.

Strings: A collection of characters enclosed in single, double, or triple quotes, represented by the str class

Boolean: Holds True or False values, represented by the bool class.

Lists: A sequence type to store multiple values in an ordered manner.

Tuples: Another sequence type like lists but immutable once created.

Dictionaries: A mapping type storing data in key-value pairs within curly braces.

Sets: A set type to store unique elements without duplicates.

Bytes, Bytearray, Memoryview: Binary types for handling binary data efficiently.

In [8]:
# Integers
my_integer = 42
print("Integer example:", my_integer, "Type:", type(my_integer))

# Floats
my_float = 3.14
print("Float example:", my_float, "Type:", type(my_float))

# Complex Numbers
my_complex = 2 + 3j
print("Complex number example:", my_complex, "Type:", type(my_complex))

# Strings
my_string = "Hello, Python!"
print("String example:", my_string, "Type:", type(my_string))

# Boolean
my_boolean = True
print("Boolean example:", my_boolean, "Type:", type(my_boolean))

# Lists
my_list = [1, 2, 3, 4, 5]
print("List example:", my_list, "Type:", type(my_list))

# Tuples
my_tuple = (6, 7, 8, 9, 10)
print("Tuple example:", my_tuple, "Type:", type(my_tuple))

# Dictionaries
my_dict = {'name': 'Alice', 'age': 30}
print("Dictionary example:", my_dict, "Type:", type(my_dict))

# Sets
my_set = {1, 2, 3, 4, 5}
print("Set example:", my_set, "Type:", type(my_set))

# Bytes
my_bytes = b'hello'
print("Bytes example:", my_bytes, "Type:", type(my_bytes))

# Bytearray
my_bytearray = bytearray(b'world')
print("Bytearray example:", my_bytearray, "Type:", type(my_bytearray))

# Memoryview
my_memoryview = memoryview(b'Python')
print("Memoryview example:", my_memoryview, "Type:", type(my_memoryview))

Integer example: 42 Type: <class 'int'>
Float example: 3.14 Type: <class 'float'>
Complex number example: (2+3j) Type: <class 'complex'>
String example: Hello, Python! Type: <class 'str'>
Boolean example: True Type: <class 'bool'>
List example: [1, 2, 3, 4, 5] Type: <class 'list'>
Tuple example: (6, 7, 8, 9, 10) Type: <class 'tuple'>
Dictionary example: {'name': 'Alice', 'age': 30} Type: <class 'dict'>
Set example: {1, 2, 3, 4, 5} Type: <class 'set'>
Bytes example: b'hello' Type: <class 'bytes'>
Bytearray example: bytearray(b'world') Type: <class 'bytearray'>
Memoryview example: <memory at 0x7d4848c64940> Type: <class 'memoryview'>

In [10]:
# English words for Boolean logic

# Define variables
is_sunny = True
is_raining = False

# Using English words for logical operations
if is_sunny and not is_raining:
    print("It's a sunny day and not raining. Perfect weather!")
elif is_sunny or is_raining:
    print("It's either sunny or raining. Check the weather forecast.")
elif not is_sunny and not is_raining:
    print("It's neither sunny nor raining. What's the weather like?")
else:
    print("Weather conditions are uncertain. Stay updated!")

It's a sunny day and not raining. Perfect weather!
Enjoy your day, whatever it may be!

In [11]:
# Additional example
is_weekend = True
is_workday = True

if is_weekend and not is_workday:
    print("It's the weekend, time to relax!")
elif not is_weekend and is_workday:
    print("It's a workday, time to be productive!")
else:
    print("Enjoy your day, whatever it may be!")

Enjoy your day, whatever it may be!

In [2]:
d = {'person': 2, 'cat': 4, 'spider': 8}

for animal in d:
  legs = d[animal]
  print('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [12]:
# Lists in Python

# Constructing lists
my_list = [1, 2, 3, 4, 5]
print("Initial list:", my_list)

# Constructors
new_list = list((6, 7, 8, 9, 10))
print("Using list() constructor:", new_list)

# List comprehensions
squared_list = [x**2 for x in range(1, 6)]
print("List comprehension example:", squared_list)

# Literal syntax
empty_list = []
print("Empty list using literal syntax:", empty_list)

# Methods for adding elements
my_list.insert(2, 100)
print("After inserting at index 2:", my_list)

my_list.append(200)
print("After appending 200:", my_list)

my_list.extend([300, 400])
print("After extending with [300, 400]:", my_list)

Initial list: [1, 2, 3, 4, 5]
Using list() constructor: [6, 7, 8, 9, 10]
List comprehension example: [1, 4, 9, 16, 25]
Empty list using literal syntax: []
After inserting at index 2: [1, 2, 100, 3, 4, 5]
After appending 200: [1, 2, 100, 3, 4, 5, 200]
After extending with [300, 400]: [1, 2, 100, 3, 4, 5, 200, 300, 400]

In [13]:
# Methods for deleting elements
my_list.remove(100)
print("After removing 100:", my_list)

popped_item = my_list.pop(3)
print("Popped item at index 3:", popped_item)
print("List after pop operation:", my_list)

# Methods for information
index_of_5 = my_list.index(5)
print("Index of value 5:", index_of_5)

count_of_4 = my_list.count(4)
print("Count of value 4:", count_of_4)

# Methods for modifying
my_list.sort()
print("Sorted list:", my_list)

my_list.reverse()
print("Reversed list:", my_list)

After removing 100: [1, 2, 3, 4, 5, 200, 300, 400]
Popped item at index 3: 4
List after pop operation: [1, 2, 3, 5, 200, 300, 400]
Index of value 5: 3
Count of value 4: 0
Sorted list: [1, 2, 3, 5, 200, 300, 400]
Reversed list: [400, 300, 200, 5, 3, 2, 1]

In [14]:
length = len(my_list)
print("Length of the list:", length)

minimum_value = min(my_list)
print("Minimum value in the list:", minimum_value)

maximum_value = max(my_list)
print("Maximum value in the list:", maximum_value)

total_sum = sum(my_list)
print("Sum of all elements in the list:", total_sum)

Length of the list: 7
Minimum value in the list: 1
Maximum value in the list: 400
Sum of all elements in the list: 911

In [15]:
sorted_copy = sorted(my_list)
print("Sorted copy of the list:", sorted_copy)

reversed_iterator = reversed(my_list)
print("Reversed iterator over the list:", list(reversed_iterator))

all_true_values = all([True, True, False])
print("All values are True:", all_true_values)

any_true_values = any([False, False, True])
print("Any value is True:", any_true_values)

enumerated_items = enumerate(my_list)
print("Enumerated items in the list:")
for index, value in enumerated_items:
    print(index, value)

zipped_lists = zip(my_list, squared_list)
print("Zipped lists:")
for item in zipped_lists:
    print(item)

Sorted copy of the list: [1, 2, 3, 5, 200, 300, 400]
Reversed iterator over the list: [1, 2, 3, 5, 200, 300, 400]
All values are True: False
Any value is True: True
Enumerated items in the list:
0 400
1 300
2 200
3 5
4 3
5 2
6 1
Zipped lists:
(400, 1)
(300, 4)
(200, 9)
(5, 16)
(3, 25)

Basic List Slicing

In [16]:
# Basic list slicing
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Slicing from index 2 to index 5 (exclusive)
sliced_list = my_list[2:5]
print(sliced_list)

[3, 4, 5]

Slicing with Step

In [17]:
# Slicing with step
my_string = "Hello, Python!"

# Slicing every second character
sliced_string = my_string[::2]
print(sliced_string)

Hlo yhn

Negative Indexing

In [18]:
# Negative indexing
my_list = [1, 2, 3, 4, 5]

# Slicing the last three elements using negative indexing
sliced_list = my_list[-3:]
print(sliced_list)

[3, 4, 5]

`reversed_string = my_string[::-1]`: This line uses slicing to reverse the string stored in my_string.

*   The first colon : indicates that we want to slice the entire string.
*   The second colon with `-1` ([::-1]) specifies that we want to step through the string in reverse order.
*   By using `-1` as the step value, we are essentially traversing the string from end to start, effectively reversing it.

In [19]:
# Reverse slicing
my_string = "Python is fun!"

# Reversing the string using slicing
reversed_string = my_string[::-1]
print(reversed_string)

!nuf si nohtyP

The first two colons `::` indicate that we want to slice the entire list.

The `2` after the second colon `(::2)` specifies that we want to take every second element from the list.

So, by using a stride of `2`, we are selecting every second element from the original list.

In [20]:
# Slicing with stride
my_list = [10, 20, 30, 40, 50]

# Slicing with a stride of 2
sliced_list = my_list[::2]
print(sliced_list)

[10, 30, 50]

Imagine you have a list of lists, like a set of boxes where each box contains some numbers. Here's how you can understand the code:

`nested_list = [, , ]`: This line creates a list called nested_list that contains three smaller lists inside it. Each smaller list represents a box with two numbers inside.

`sliced_element = nested_list`: This line slices into the second box **(index 1)** in the set of boxes and retrieves the first number **(index 0)** from that box.

In [24]:
# Slicing nested lists
nested_list = [[1, 2], [3, 4], [5, 6]]

# Slicing the second sublist and getting the first element
sliced_element = nested_list[1][0]
print(sliced_element)

3

In [25]:
# Slicing strings by characters
my_string = "Python"

# Slicing individual characters from the string
for char in my_string:
    print(char)

P
y
t
h
o
n

In [26]:
# Modifying list elements with slicing
my_list = [1, 2, 3, 4, 5]

# Changing multiple elements at once using slicing
my_list[1:4] = [10, 20, 30]
print(my_list)

[1, 10, 20, 30, 5]

`for` loops are used to iterate over a sequence (such as a list, tuple, string, or range) and execute a block of code for each item in the sequence.

In [1]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

`while` loops are used to execute a block of code as long as a specified condition is true.

In [2]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

**Loop Control Statements:**
1. break: Terminates the loop and transfers control to the statement immediately following the loop.
2. continue: Skips the rest of the code inside the loop for the current iteration and goes to the next iteration.
3. pass: Acts as a placeholder and does nothing. It is used when a statement is required syntactically but you do not want any command or code to execute.

Example with **break**

In [3]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == "banana":
        break
    print(fruit)

apple

**Example with continue**

In [4]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        continue
    print(num)

1
3
5

You can also have loops inside other loops, known as nested loops.

In [5]:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [64]:
no1 = float(input("Enter No 1 "))
no2 = float(input("Enter No 2 "))
oper = input("Enter operator ")

if oper == "+":
  print(no1 + no2)
if oper == "-":
  print(no1 - no2)

Enter No 1 4
Enter No 2 6
Enter operator +
10.0

To create a dictionary, you can use the `dict()` constructor or simply assign a set of key-value pairs inside curly `braces {}`

In [9]:
my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

In [10]:
print(my_dict["name"])

John

You can modify dictionary values by assigning new values to the keys.

In [11]:
my_dict["name"] = "Jane"
print(my_dict["name"])

Jane

You can add new key-value pairs to the dictionary by assigning them to the dictionary.

In [12]:
my_dict["gender"] = "Female"
print(my_dict)

{'name': 'Jane', 'age': 25, 'city': 'New York', 'gender': 'Female'}

Deleting Key-Value Pairs:
You can delete key-value pairs from the dictionary using the del keyword.

In [13]:
del my_dict["gender"]
print(my_dict)

{'name': 'Jane', 'age': 25, 'city': 'New York'}

1. `len(my_dict)`: Returns the number of key-value pairs in the dictionary.
2. `my_dict.keys()`: Returns a list of all the keys in the dictionary.
3. `my_dict.values()`: Returns a list of all the values in the dictionary.
4. `my_dict.items()`: Returns a list of all the key-value pairs in the dictionary.

In [14]:
print(len(my_dict))
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

3
dict_keys(['name', 'age', 'city'])
dict_values(['Jane', 25, 'New York'])
dict_items([('name', 'Jane'), ('age', 25), ('city', 'New York')])

##### Challenge:
Create a dictionary called my_data with the following key-value pairs:
```
# my_data = {
    "name": "Alice",
    "age": 30,
    "city": "San Francisco"
}
```
Now, write a program that:
1. Prints the name of the person.
2. Updates the age to 31.
3. Adds a new key-value pair for "country" with the value "USA".
4. Deletes the key "city".
5. Prints the updated dictionary.
Remember to use the appropriate dictionary methods and syntax to accomplish this task.

Let's create a dictionary and explore different ways to loop through it:

In [15]:
my_dict = {
    "name": "Sandrie",
    "age": 33,
    "city": "Ontario"
}

In [16]:
print("Keys:")
for key in my_dict:
    print(key)

Keys:
name
age
city

In [17]:
# Looping over values
print("\nValues:")
for value in my_dict.values():
    print(value)

Values:
Sandrie
33
Ontario

In [18]:
# Looping over items
print("\nKey-Value Pairs:")
for key, value in my_dict.items():
    print(f"{key}: {value}")

Key-Value Pairs:
name: Sandrie
age: 33
city: Ontario

To create a Set, you can use the `set()` constructor or simply assign a list of elements inside curly braces `{}`.

In [19]:
my_set = {1, 2, 3}

You can access Set elements using the `pop()` method.

In [20]:
print(my_set.pop())

1

You can add new elements to the Set using the `add()` method.

In [21]:
my_set.add(4)
print(my_set)

{2, 3, 4}

You can remove elements from the Set using the `remove()` method.

In [22]:
my_set.remove(2)
print(my_set)

{3, 4}

You can check if an element is in the Set using the `in` keyword.

In [23]:
print(4 in my_set)

True

Sets have several built-in methods for performing operations like union, intersection, difference, and symmetric difference.

In [24]:
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}

# Union
print(set_1 | set_2)

# Intersection
print(set_1 & set_2)

# Difference
print(set_1 - set_2)

{1, 2, 3, 4, 5}
{3}
{1, 2}

*  Create a class, `Triangle`. It’s `__init__()` method should take self, angle1, angle2,
and angle3 as arguments.
*  Make sure to set these appropriately in the body of the
`__init__()` method.
*  Create a variable named `number_of_sides` and set it equal to 3.
*  Create a method named `check_angles`. It should return True if the sum of
`self.angle1`, `self.angle2`, and `self.angle3` is equal `180`, and False otherwise.
*  Create a method named `types_of_triangle`. It should print “Not a triangle” if the method check_angles returns `False` else:
*  Print “Equilaterial triangle” if all angles are equal.
*  Print “Isosceles triangle” if any two angles are equal.
*  Print “Scalene triangle” if none of the angles are equal.
*  Create a variable named `my_triangle` and set it equal to a new instance of your Triangle class. Pass it three angles that sum to `180` (e.g. 90, 30, 60).
*  Print out `my_triangle.number_of_sides` and print out `my_triangle.types_of_triangle()`.

In [29]:
class Triangle:
    def __init__(self, angle1, angle2, angle3):
        self.angle1 = angle1
        self.angle2 = angle2
        self.angle3 = angle3
        self.number_of_sides = 3

    def check_angles(self):
        return self.angle1 + self.angle2 + self.angle3 == 180

    def types_of_triangle(self):
        if not self.check_angles():
            print("Not a triangle")
        else:
            if self.angle1 == self.angle2 == self.angle3:
                print("Equilateral triangle")
            elif self.angle1 == self.angle2 or self.angle1 == self.angle3 or self.angle2 == self.angle3:
                print("Isosceles triangle")
            else:
                print("Scalene triangle")

# Create an instance of the Triangle class
my_triangle = Triangle(60, 60, 60)

# Print the number of sides of the triangle
print(my_triangle.number_of_sides)

# Determine and print the type of triangle
my_triangle.types_of_triangle()

3
Equilateral triangle

In [46]:
sum_of_odd_numbers = 0
for num in range(100):
    if num % 2 != 0:
        sum_of_odd_numbers = num + sum_of_odd_numbers
        print("I'm at , %s! and my sum is %s " % (num, sum_of_odd_numbers))

print("Sum of all odd numbers up to 100:", sum_of_odd_numbers)

I'm at , 1! and my sum is 1
I'm at , 3! and my sum is 4
I'm at , 5! and my sum is 9
I'm at , 7! and my sum is 16
I'm at , 9! and my sum is 25
I'm at , 11! and my sum is 36
I'm at , 13! and my sum is 49
I'm at , 15! and my sum is 64
I'm at , 17! and my sum is 81
I'm at , 19! and my sum is 100
I'm at , 21! and my sum is 121
I'm at , 23! and my sum is 144
I'm at , 25! and my sum is 169
I'm at , 27! and my sum is 196
I'm at , 29! and my sum is 225
I'm at , 31! and my sum is 256
I'm at , 33! and my sum is 289
I'm at , 35! and my sum is 324
I'm at , 37! and my sum is 361
I'm at , 39! and my sum is 400
I'm at , 41! and my sum is 441
I'm at , 43! and my sum is 484
I'm at , 45! and my sum is 529
I'm at , 47! and my sum is 576
I'm at , 49! and my sum is 625
I'm at , 51! and my sum is 676
I'm at , 53! and my sum is 729
I'm at , 55! and my sum is 784
I'm at , 57! and my sum is 841
I'm at , 59! and my sum is 900
I'm at , 61! and my sum is 961
I'm at , 63! and my sum is 1024
I'm at , 65! and my sum is 1089
I'm at , 67! and my sum is 1156
I'm at , 69! and my sum is 1225
I'm at , 71! and my sum is 1296
I'm at , 73! and my sum is 1369
I'm at , 75! and my sum is 1444
I'm at , 77! and my sum is 1521
I'm at , 79! and my sum is 1600
I'm at , 81! and my sum is 1681
I'm at , 83! and my sum is 1764
I'm at , 85! and my sum is 1849
I'm at , 87! and my sum is 1936
I'm at , 89! and my sum is 2025
I'm at , 91! and my sum is 2116
I'm at , 93! and my sum is 2209
I'm at , 95! and my sum is 2304
I'm at , 97! and my sum is 2401
I'm at , 99! and my sum is 2500
Sum of all odd numbers up to 100: 2500

In [63]:
def fib(n):
    a, b = 0, 1

    for i in range(n):
        print("Turn Number ", i)
        print(a)
        temp = a + b
        a = b
        b = temp

fib(10)

Turn Number  0
0
Turn Number  1
1
Turn Number  2
1
Turn Number  3
2
Turn Number  4
3
Turn Number  5
5
Turn Number  6
8
Turn Number  7
13
Turn Number  8
21
Turn Number  9
34